<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title class="ion-title">
      Radio America
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="ion-content">
  <!-- <audio id="stream" controls="" preload="none" autoplay="" style="width: 360px;">
    <source src="http://204.197.245.100:8236/;" type="audio/mpeg">
  </audio> -->


  <!-- <ion-grid>
    <ion-row>
      <ng-container *ngFor="let genre of genres | async">
        <ion-col col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3>
          <ion-card (tap)="browseGenre(genre)">
            <img src="assets/imgs/181-thumbnail.png" />
            <ion-card-content>
              <ion-card-title class="card-title">{{genre.getName()}}</ion-card-title>
              <span>{{genre.getStationsCount()}} stations</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid> -->
  
</ion-content>
